<div class="work-experience">
  <div class="text-block">
    <h2 class="heading heading-h2">Experience</h2>
  </div>
  <div class="row">
    <div class="col-6 col-m-6 col-lg-6">
      <div class="card">
        <div class="card__body">
          <div class="picture-box card__picture-1"></div>
          <div class="card__overlay">
            <a href="#" class="card__overlay">
              <p>
                Project summary goes here. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Quisque vel sapien quis nulla
                dictum euismod...
              </p>
            </a>
          </div>
        </div>
        <div class="card__footer">
          <h3 class="heading heading-h3">Medical Billing Software</h3>
          <div class="techstack">
            <div class="item">MSSQL</div>
            <div class="item">.NET</div>
            <div class="item">Angular</div>
            <div class="item">Bootstrap</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-m-6 col-lg-6">
      <div class="card">
        <div class="card__body">
          <div class="picture-box card__picture-2"></div>
          <div class="card__overlay">
            <p>
              Project summary goes here. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Quisque vel sapien quis nulla dictum euismod...
            </p>
          </div>
        </div>
        <div class="card__footer">
          <h3 class="heading heading-h3">Medical Billing Software</h3>
          <div class="techstack">
            <div class="item">MSSQL</div>
            <div class="item">.NET</div>
            <div class="item">Angular</div>
            <div class="item">Bootstrap</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-m-6 col-lg-6">
      <div class="card">
        <div class="card__body">
          <div class="picture-box card__picture-3"></div>
          <div class="card__overlay">
            <p>
              Project summary goes here. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Quisque vel sapien quis nulla dictum euismod...
            </p>
          </div>
        </div>
        <div class="card__footer">
          <h3 class="heading heading-h3">Medical Billing Software</h3>
          <div class="techstack">
            <div class="item">MSSQL</div>
            <div class="item">.NET</div>
            <div class="item">Angular</div>
            <div class="item">Bootstrap</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 col-m-6 col-lg-6">
      <div class="card">
        <div class="card__body">
          <div class="picture-box card__picture-3"></div>
          <div class="card__overlay">
            <p>
              Project summary goes here. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Quisque vel sapien quis nulla dictum euismod...
            </p>
          </div>
        </div>
        <div class="card__footer">
          <h3 class="heading heading-h3">Medical Billing Software</h3>
          <div class="techstack">
            <div class="item">MSSQL</div>
            <div class="item">.NET</div>
            <div class="item">Angular</div>
            <div class="item">Bootstrap</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
