<div class="home">
  <figure class="figure figure-intro">
    <div class="text">
      <h2 class="heading heading-h2 animate-text">
        I’m Stefan Simonovic,
        <span class="profession">Front - End </span>
        Developer
      </h2>
      <p>
        with 2+ years of experience in IT. Experienced in designing, developing
        and testing UI of dynamic web applications.
      </p>
      <button type="button" class="btn btn-hire-me">HIRE ME</button>
    </div>
    <div class="picture-wrapper">
      <img src="assets/images/user.jpg" class="responsive" />
    </div>
  </figure>
  <figure class="figure"><app-services></app-services></figure>
  <figure class="figure"><app-work-experience></app-work-experience></figure>
  <figure class="figure"><app-contact></app-contact></figure>
</div>
