<div class="home">
  <figure class="figure">
    <div class="text">
      <h2 class="heading heading-h2">
        I’m Stefan Simonovic
        <span class="profession">Front - End </span>
        Developer
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat
        feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc
        lectus.
      </p>
      <button type="button" class="btn">HIRE ME</button>
    </div>
    <div class="picture-wrapper">
      <img src="assets/images/user.jpg" class="responsive" />
    </div>
  </figure>
  <figure class="figure"><app-services></app-services></figure>
</div>
