/*******Common styles******/
svg {
  width: 1.5rem;
  height: 1.5rem;
}
.heading {
  text-align: center;
  &-h1 {
  }
  &-h2 {
    text-align: center;
  }
  &-h3 {
    &.name {
      color: var(--color-primary-dark-1);
      font-weight: bold;
    }
  }
  &-h4 {
  }
}
.picture-wrapper {
  border: 1px solid red;
  color: red;
  flex: 0 0 50%;
  .responsive {
    width: 100%;
    height: 30rem;
  }
}
.btn {
  margin-top: 2rem;
  font-weight: bold;
  background-color: var(--color-primary-main-1);
  border: none;
  height: 3rem;
  width: 6rem;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    box-shadow: -2px 0rem 1rem 0px var(--color-primary-main-1);
    color: var(--color-primary-light-3);
  }
}
/**********************************/
.user-overal-info {
  padding: 1rem 2rem;
  // font-size: 1rem;
  // font-family: "Courier New", Courier, monospace;
  .scrol-bar {
    height: 30rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
  // .scrol-bar::-webkit-scrollbar {
  //   width: 0 !important;
  // }
  .section {
    padding: 1rem 0;
    color: var(--color-primary-light-3);
    &:not(:last-of-type) {
      border-bottom: 3px solid var(--color-primary-light-3);
    }
    &-heading {
      font-family: "Times New Roman", Times, serif;
      color: var(--color-primary-dark-1);
      font-size: 1rem;
      text-transform: uppercase;
    }
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      &-label {
        background-color: var(--color-primary-main-1);
        padding: 0.5rem 1rem;
        color: var(--color-primary-dark-2);
      }
    }

    &-picture {
      border-radius: 50%;
    }
    .picture-wraper {
      text-align: center;
    }

    &-icons {
      display: flex;
      justify-content: space-evenly;
      a:hover {
        box-shadow: -2px 0rem 1rem 0px var(--color-primary-main-1);
        svg {
          fill: var(--color-primary);
        }
      }
    }
  }
}
/**Icon ***/
.icon-wrapper {
  &__link {
    display: inline-block;
    line-height: 0;
    background-color: var(--color-primary-main-1);
    padding: 0.5rem 0.5rem;
    border-radius: 100px;

    &.active {
      background-color: var(--color-primary-main-1);
    }
  }
}
/********/
/*****Link*/
.link {
  display: block;
  line-height: 0;
}
/**********/
/*******Skils Bar*******/
.skills {
  // color: var(--color-primary-light-3);
  &__label {
  }
  &__container {
    width: 100%;
    height: 0.75rem;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary-main-1);
    border-radius: 0.5rem;
    padding: 2px;
  }

  &__value {
    height: 100%;
    background-color: var(--color-primary-main-1);
    &-english {
      width: 90%;
    }
    &-serbian {
      width: 100%;
    }
    &-js {
      width: 60%;
    }
    &-ts {
      width: 60%;
    }
    &-angular {
      width: 75%;
    }
    &-webpack {
      width: 40%;
    }
    &-sass {
      width: 70%;
    }
  }
}

.icon-wrapper a:hover {
  box-shadow: 0 2rem 6rem rgba(107, 16, 16, 0.3);
}
/***************/

/****** Right sidebar************/
.right-sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .theme-btn {
    border: none;
    line-height: 0;
    cursor: pointer;
    background-color: var(--color-primary-light-1);
    svg {
      fill: var(--color-primary-dark-1);
    }
  }
}
.navigation {
  &__list {
    list-style: none;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
  }

  .icon-wrapper__link {
    background-color: var(--color-primary);
    svg {
      fill: var(--color-primary-light-3);
    }
    &:hover,
    &.active {
      background-color: var(--color-primary-main-1);
    }
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: var(--color-primary-dark-1);
    color: var(--color-primary-light-1);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: -30px;
    z-index: 1;
    margin-left: -20px;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: var(--color-primary-dark-1) transparent transparent
        transparent;
    }
  }

  &:hover,
  &.active {
    .tooltiptext {
      visibility: visible;
      transform: translateY(-16px);
      transition: all 0.7s;
    }
  }
}
/*****Home componenents**********/

.figure {
  color: var(--color-primary-dark-1);
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  &-intro {
    .text {
      border: 1px solid grey;
      padding: 2rem;
      .profession {
        display: block;
        color: var(--color-primary-main-1);
      }
      p {
        text-align: left;
      }
    }
  }
}

/****************************/
/************Footer ********/
footer {
  color: var(--color-primary-dark-1);
  text-align: center;
  font-family: cursive;
  font-weight: bolder;
  padding: 1.5rem;
}
/****************************/
