/** Overal layout **/
.container {
  display: flex;
  border: 1px solid red;
  min-height: 50rem;
  // margin: 0 10rem;
  box-shadow: var(--shadow-dark);
  background-color: var(--primary-color);
}
.left-sidebar {
  flex: 0 0 20%;
  background-color: var(--color-primary-light-1);
  color: var(--color-primary-dark-1);
  border: 1px solid yellow;
}
.right-sidebar-wrapper {
  flex: 0 0 10%;
  background-color: var(--color-primary-light-1);
  border: 1px solid green;
}
.central-content {
  flex: 1;
  border: 1px solid orangered;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // Scroll
  height: 100vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  // Mozila
  scrollbar-width: none;
}
.main-content {
}
.header {
}
.footer {
  background-color: var(--color-primary-light-1);
  border: 1px solid orangered;
}
.home {
  border: 1px solid springgreen;
}
