// @import "_mixins.scss";
@import "./abstracts/_mixins.scss";

/** Overal layout **/
.container {
  display: flex;
  margin: 0 5rem;
  min-height: 100vh;
  @include respond(tab-land) {
    margin: 0;
  }
  box-shadow: var(--shadow-dark);
  background-color: var(--primary-color);
}
.left-sidebar {
  @include sidebar(20%);
  color: var(--color-primary-dark-1);
  margin-right: 1rem;
  @include respond(tab-port) {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: linear 0.3s;
    width: 0;
    z-index: 1;
    &.toggle {
      width: 15rem;
      margin-top: 4rem;
    }
  }
}
.right-sidebar-wrapper {
  // display: none;
  @include sidebar(10%);

  margin-left: 1rem;
  @include respond(tab-port) {
    // display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    transition: linear 0.3s;
    width: 0;
    &.toggle {
      width: 20rem;
      z-index: 5;
      margin-top: 4rem;
    }
  }
}

.main-content {
  flex-basis: 70%;
  flex-grow: 1;
  @include respond(tab-port) {
    padding: 0.5rem;
  }
}
.central-content {
  flex: 1;
  color: var(--color-primary-dark-1);
  background-color: var(--color-primary-central-content);
  // border: 1px solid orangered;
  display: flex;
  flex-direction: column;
  @include respond(tab-port) {
    margin-top: 4rem;
  }
  // height: 100vh;
  // overflow: hidden;
}

.footer {
  background-color: var(--color-primary-light-1);
  // border: 1px solid orangered;
}
.home {
  // border: 1px solid springgreen;
}
