<div class="education">
  <div class="text-block">
    <h2 class="heading heading-h2">Education</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat
      feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc
      lectus.
    </p>
  </div>
  <div class="education__card">
    <div class="education__card-title">
      <h3 class="heading heading-h3">
        Faculty Of Technical Sciences, University of Kragujevac
      </h3>
      <h4 class="heading heading-h4">
        Bachelor Of Science ; Computer Engineering
      </h4>
      <span class="date"> October 2013 - July 2022</span>
    </div>
    <div class="education__card-details">
      <div class="text-block">
        <h3 class="heading heading-h3">Acquired knowledges</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus
          nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed
          amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et
          pellentesque. Molestie risus enim neque eget dui.
        </p>
      </div>
    </div>
  </div>
  <div class="education__card">
    <div class="education__card-title">
      <h3 class="heading heading-h3">
        Faculty Of Technical Sciences, University of Kragujevac
      </h3>
      <h4 class="heading heading-h4">
        Bachelor Of Science ; Computer Engineering
      </h4>
      <span class="date"> October 2013 - July 2022</span>
    </div>
    <div class="education__card-details">
      <div class="text-block">
        <h3 class="heading heading-h3">Acquired knowledges</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus
          nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed
          amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et
          pellentesque. Molestie risus enim neque eget dui.
        </p>
      </div>
    </div>
  </div>
  <div class="education__card">
    <div class="education__card-title">
      <h3 class="heading heading-h3">
        Faculty Of Technical Sciences, University of Kragujevac
      </h3>
      <h4 class="heading heading-h4">
        Bachelor Of Science ; Computer Engineering
      </h4>
      <span class="date"> October 2013 - July 2022</span>
    </div>
    <div class="education__card-details">
      <div class="text-block">
        <h3 class="heading heading-h3">Acquired knowledges</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus
          nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed
          amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et
          pellentesque. Molestie risus enim neque eget dui.
        </p>
      </div>
    </div>
  </div>
  <div class="education__card">
    <div class="education__card-title">
      <h3 class="heading heading-h3">
        Faculty Of Technical Sciences, University of Kragujevac
      </h3>
      <h4 class="heading heading-h4">
        Bachelor Of Science ; Computer Engineering
      </h4>
      <span class="date"> October 2013 - July 2022</span>
    </div>
    <div class="education__card-details">
      <div class="text-block">
        <h3 class="heading heading-h3">Acquired knowledges</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet dapibus
          nibh ut faucibus nunc, egestas id amet porttitor. Pulvinar quisque sed
          amet, nulla nunc. Eleifend sodales posuere fusce tempus etiam et
          pellentesque. Molestie risus enim neque eget dui.
        </p>
      </div>
    </div>
  </div>
</div>
