<div class="education">
  <div class="text-block">
    <h2 class="heading heading-h2">Education</h2>
  </div>
  <div class="cards">
    <div class="education__card">
      <div class="education__card-title">
        <h3 class="heading heading-h3">
          Udemy Course: Angular - The Complete Guide (2022 Edition)
        </h3>
        <h4 class="heading heading-h4">
          Knowledge about Angular has been improved
        </h4>
        <span class="date"> February 2021 - July 2021 </span>
      </div>
      <div class="education__card-details">
        <div class="text-block">
          <h3 class="heading heading-h3">Acquired knowledges</h3>
          <p>
            Deep and thorough Angular core understanding, components, template,
            directives,dependency injection, lazy loading, services, API
            request/response ...
          </p>
        </div>
      </div>
    </div>
    <div class="education__card">
      <div class="education__card-title">
        <h3 class="heading heading-h3">
          EDIT Summer School , Comtrade Group - Internship
        </h3>
        <h4 class="heading heading-h4">Intern</h4>
        <span class="date"> July 2018</span>
      </div>
      <div class="education__card-details">
        <div class="text-block">
          <h3 class="heading heading-h3">Acquired knowledges</h3>
          <p>
            Practical knowledge about software product development entire flow ,
            from specification over designing, development and testing to
            presentation and delivery, also SCRUM agile metodology, .NET
            programming language and Angular framework.
          </p>
        </div>
      </div>
    </div>
    <div class="education__card">
      <div class="education__card-title">
        <h3 class="heading heading-h3">
          High School Elektrotehnicka-Saobracajna Tehnicka skola "Nikola
          Tesla",Kraljevo
        </h3>
        <h4 class="heading heading-h4">Elektrotehnicar elektronike</h4>
        <span class="date"> September 2009 - July 2013</span>
      </div>
      <div class="education__card-details">
        <div class="text-block">
          <h3 class="heading heading-h3">Acquired knowledges</h3>
          <p>
            Theoretical and practical knowledge from math, elektronic,physics
            and so on
          </p>
        </div>
      </div>
    </div>
    <div class="education__card">
      <div class="education__card-title">
        <h3 class="heading heading-h3">
          Faculty Of Technical Sciences, University of Kragujevac
        </h3>
        <h4 class="heading heading-h4">
          Bachelor Of Science ; Computer Engineering
        </h4>
        <span class="date"> October 2013 - July 2022</span>
      </div>
      <div class="education__card-details">
        <div class="text-block">
          <h3 class="heading heading-h3">Acquired knowledges</h3>
          <p>
            Theoretical and practical knowledge about network, API, databases,
            Java programming language,UI, UX...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
