<div class="services">
  <div class="text-block">
    <h2 class="heading heading-h2">My Services</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat
      feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc
      lectus.
    </p>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side-front-1">
          <div class="card__header">
            <div class="picture-box picture-box-1">&nbsp;</div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span-1 animate-text"
                >One framework, mobile and desktop</span
              >
            </h4>
          </div>

          <div class="card__details">
            <ul>
              <li>Typescript</li>
              <li>RxJS</li>
              <li>Build tools</li>
              <li>Architecture</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side-back-1">
          <div class="text-block">
            <h3 class="heading heading-h3">ANGULAR</h3>
            <p>
              Angular is a platform and framework for building single-page
              client applications using HTML and TypeScript. Angular is written
              in TypeScript. It implements core and optional functionality as a
              set of TypeScript libraries that you import into your
              applications. The architecture of an Angular application relies on
              certain fundamental concepts.
              <a target="_blank" href="https://angular.io">"Try it Yourself"</a>
              link.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side-front-2">
          <div class="picture-box picture-box-2">&nbsp;</div>
          <div class="card__details">
            <ul>
              <li>Client - Server</li>
              <li>AJAX</li>
              <li>API</li>
              <li>JSON</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side-back-2">
          <div class="text-block">
            <h3 class="heading heading-h3">Web Development</h3>
            <p>
              A web app architecture presents a layout with all the software
              components (such as databases, applications and middleware) and
              how they interact with each other. It defines how the data is
              delivered through HTTP and ensures that the client-side server and
              the backend server can understand.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-of-3">
      <div class="card">
        <div class="card__side card__side-front-3">
          <div class="picture-box picture-box-3">&nbsp;</div>

          <div class="card__details">
            <ul>
              <li>Media Queries</li>
              <li>Flexbox</li>
              <li>Bootstrap grid</li>
            </ul>
          </div>
        </div>
        <div class="card__side card__side-back-3">
          <div class="text-block">
            <h3 class="heading heading-h3">Responsive Design</h3>
            <p>
              Responsive Web Design is about using HTML and CSS to automatically
              resize, hide, shrink, or enlarge, a website, to make it look good
              on all devices (desktops, tablets, and phones).
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
