@import "./../../../../../styles/sass/abstracts/mixins";
.theme-btn-wrapper {
  line-height: 0;
}
.theme-btn {
  border: none;
  line-height: 0;
  cursor: pointer;
  background-color: var(--color-primary-light-1);
  svg {
    fill: var(--color-primary-dark-1);
  }
}
.right-sidebar .theme-btn-wrapper {
  @include respond(tab-port) {
    display: none;
  }
}
